.feelGood{
    font-family: "Oswald";
    border: 1px solid grey;
    height: 70vh;
    background-color: #3A5A73;
    padding: 10px;
}
.home{
    position: relative;
    z-index: 10;
    position: fixed;
    bottom: 0px;
    right: 5%;
    color: #F5F1EA;
}
.feelGoodLinks{
    height: 75%;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    article{
        position: relative;
        top: 5px;
        left: 5px;
        border-radius: 10px;
        height: 200px;
        width: 120px;
        img{
            height: 99%;
            width: 99%;
            border-radius: 10px;
        }
        &:hover{
            box-shadow: 1px 1px 1px 5px #F5F1EA;;
        }
    }
}