.playing{
    position: relative;
    top: 200px;
    height: 65vh;
    font-family: "Oswald";
    .displayContainer{
        border: 2px solid black;
        height: 70%;
        align-content: center;
        text-align: center;
        font-size: 1.2em;
    }
}
.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    button{
        width: 100px;
        background-color: rgb(80, 159, 233);
        color: white;
        border-radius: 10px;
        &:hover{
            cursor: pointer;
            border: 3px solid black;
        }
        &:focus{
            border: 3px solid red;
        }
    }
}