
.home{
    position: relative;
    top: 200px;
    height: 1000px;
    font-family: "Oswald";
}
.genreSection{
    border: 1px solid black;
    height: 24%;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    margin-bottom: 10px;
    scroll-margin-top: 210px;
    h2, div, a{
        align-content: center;
    }
    a{
        text-align: center;
    }
    div{
        border: 1px solid red;
        article{
            border: 1px solid black;
            height: 100%;
            width: 100px;
        }
    }
}
#mara{
    background-image: url("images/Mara.png");
    background-size: 100% 100%;
}
#dog{
    background-image: url("images/dog.png");
    background-size: 100% 100%;
}